<nav class="navbar navbar-expand-lg sticky-top bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ScriptChain health</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="createuser">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="userinfo">Users</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<figure class="text-center mb-5 g-3 pt-5 ps-5 pe-5 ms-5 me-5">
  <blockquote class="blockquote">
    <h1 class="navbar-brand fs-1 shadow-lg p-3 mb-5 bg-white rounded">Email Sender System</h1>
  </blockquote>

</figure>
<router-outlet></router-outlet>